<%  var title = "TOP";
    var description = "トップのdescription";
    var url = "../assets/images/";
    var homeImg = [
      {img:"home.jpg", alt:"女性の写真"},
      {img:"home2.jpg", alt:"カフェの写真"},
      {img:"home3.jpg", alt:"森林の写真"},
      {img:"home4.jpg", alt:"エンジニアの写真"},
      {img:"home5.jpg", alt:"スプレー缶の写真"},
    ];
    var aboutItem = [
      {img: "nishimura.jpg", alt: "ニシムラ　キョウヘイ"},
      {img: "aichi.png", alt: "愛知県"},
      {img: "soccer.jpg", alt: "サッカー"},
      {img: "golf.jpg", alt: "ゴルフ"},
      {img: "fitness.jpg", alt: "フィットネス"},
      {img: "bath.jpg", alt: "温泉"},
      {img: "dorive.jpg", alt: "ドライブ"},
      {img: "sauna.jpg", alt: "サウナ"},
    ];
    var accordionItem = [
      {title:"名前", text:"西村匡平"},
      {title:"生年月日", text:"1997/10/26"},
      {title:"出身", text:"愛知県"},
      {title:"趣味", text:"スポーツ,温泉旅行,ドライブ,サウナ"},
      {title:"自己PR", text:"コミュニケーン力には自信があり、どんな人とも分け隔てなく接することができる。また、独学で学んでいたこともあり自ら調べて解決する力が強い。"},
    ];
    var tabTitle = [
      {href:"#frontend", title:"フロントエンド"},
      {href:"#backend", title:"バックエンド"},
      {href:"#tool", title:"ツール"},
    ];
    var frontendLanguage = ["HTML/CSS","ejs/scss","JavaScript/jQuery",];
    var frontendImg = [
      {img:"html.png", alt:"htmlアイコン"},
      {img:"css.png", alt:"cssアイコン"},
      {img:"javascript.png", alt:"javascriptアイコン"},
    ];
    var backendLanguage = ["PHP","Ruby"];
    var backendImg = [
      {img:"php.png", alt:"phpアイコン",},
      {img:"ruby.png", alt:"rubyアイコン"},
    ];
    var tool = ["node.js","Webpack","vs code",];
    var toolImg = [
      {img:"node.js.png",alt:"node.jsアイコン",},
      {img:"webpack.png",alt:"webpackアイコン"},
      {img:"vs code.png",alt:"vs codeアイコン"},
    ];
    var snsIcon = [
      {img:"twitter.png", alt:"twitterアイコン"},
      {img:"instagram.png", alt:"instagramアイコン"},
      {img:"facebook.png", alt:"facebookアイコン"},
    ];
%>
<% include src/ejs/template/_head %>

<main class="l-main">
  <section class="p-home scroll-point" id="home">
      <ul class="p-home__slide">
        <% homeImg.forEach(function(i) { %>
          <li class="p-home__slideItem">
            <img src="<%= url %><%= i.img %>" alt="<%= i.alt %>" class="p-home__slideImg">
          </li>
        <% }) %>
      </ul>
      <div class="p-home__text">
        <div class="p-home__title">Nishimura Kyohei</div>
        <div class="p-home__subtitle">Web Front Engineer</div>
  </section>

  <section class="p-about scroll-point" id="about">
    <div class="c-topic">About Me</div>
    <ul class="p-accordion">
      <% accordionItem.forEach(function(i) { %>
        <li class="p-accordion__item">
          <div class="p-accordion__section">
            <h3 class="p-accordion__title"><%= i.title %></h3>
            <div class="p-accordion__box">
              <p class="p-accordion__text"><%= i.text %></p>
            </div>
          </div>
        </li>
      <% }); %>
    </ul>
    <ul class="p-about__slide">
      <% aboutItem.forEach(function(i) { %>
        <li class="p-about__slideItem">
          <img src="<%= url %><%= i.img %>" alt="<%= i.alt %>" class="p-about__slideImg">
        </li>
      <% }); %>
    </ul>
      <a href="" class="c-detail">さらに詳しく</a>
  </section>

  <section class="p-skills scroll-point" id="skills">
    <div class="c-topic">My Skill</div>
    <ul class="p-tab">
      <% tabTitle.forEach(function(i) { %>
        <li class="p-tab__title">
          <a href="<%= i.href %>" class="p-tab__link"><%= i.title %></a>
        </li>
      <% }) %>
    </ul>

    <div class="p-tab__contents">
      <div id="frontend" class="p-tab__area">
        <ul class="p-tab__languageList">
          <% frontendLanguage.forEach(function(i) { %>
            <li class="p-tab__languageItem"><%= i %></li>
          <% }) %>
        </ul>
        <ul class="p-tab__areaIcon">
          <% frontendImg.forEach(function(i) { %>
            <li class="p-tab__areaIconItem">
              <img src="<%= url %><%= i.img %>" alt="<%= i.alt %>" class="p-tab__areaIconImg">
            </li>
          <% }) %>
      </ul>
      </div>
      <div id="backend" class="p-tab__area">
        <ul class="p-tab__languageList">
          <% backendLanguage.forEach(function(i) { %>
            <li class="p-tab__languageItem"><%= i %></li>
          <% }) %>
        </ul>
        <ul class="p-tab__areaIcon">
            <% backendImg.forEach(function(i) { %>
              <li class="p-tab__areaIconItem">
                <img src="<%= url %><%= i.img %>" alt="<%= i.alt %>" class="p-tab__areaIconImg">
              </li>
            <% }) %>
        </ul>
      </div>
      <div id="tool" class="p-tab__area">
        <ul class="p-tab__languageList">
          <% tool.forEach(function(i) { %>
            <li class="p-tab__languageItem"><%= i %></li>
          <% }) %>
        </ul>
        <ul class="p-tab__areaIcon">
          <% toolImg.forEach(function(i) { %>
            <li class="p-tab__areaIconItem">
              <img src="<%= url %><%= i.img %>" alt="<%= i.alt %>" class="p-tab__areaIconImg">
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <a href="" class="c-detail">さらに詳しく</a>
    <div class="p-fluid"></div>
  </section>

  <section class="p-contact scroll-point" id="contact">
    <div class="c-topic">Contact Me</div>
    <ul class="p-contact__sns">
      <% snsIcon.forEach(function(i) { %>
        <li class="p-contact__snsItem">
          <a href="">
            <img src="<%= url %><%= i.img %>" alt="<%= i.alt %>" class="p-contact__snsImg">
          </a>
        </li>
      <% }); %>
    </ul>
    <div class="p-contact__cellphoneNumber">080-XXXX-XXXX</div>
    <div class="p-inquiry">
      <div class="p-inquiry__title">お問い合わせ</div>
      <form class="p-inquiry__form" method="POST" action="confirm.php">
        <div>
          <label class="p-inquiry__label" for="name" value="">お名前：</label>
          <input class="p-inquiry__textarea" id="name" type="text" name="name" placeholder="お名前">
        </div>

        <div>
          <label class="p-inquiry__label" for="mail">メールアドレス：</label>
          <input class="p-inquiry__textarea" id="mail" type="email" name="email" placeholder="メールアドレス">
        </div>
        <div>
          <label class="p-inquiry__label" for="comment">お問い合わせ内容：</label><br >
          <textarea class= "p-inquiry__textarea" id="comment" rows="10" cols="30" placeholder="お問い合わせ内容を入力して下さい"></textarea>
        </div>
        <div>
          <input class="p-inquiry__btn" type="submit" value="送信">
        </div>
      </form>
    </div>
  </section>
</main>




<% include src/ejs/template/_footer %>
